* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header img {
    margin-bottom: 10px;
    margin-right: 10px;
}

header span {
    font-size: 1.5em;
    font-weight: bold;
}

header {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    background-color: #B07156;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
    margin-bottom: 20px;
    background-color: #9932CC;
    margin: 0 auto;
    max-width: 800px;
    font-family: sans-serif;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.card h2 {
    margin-bottom: 10px;
    color: #669BBC
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #F5F5DC
}

footer {
    font-family: sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #9932CC;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;

}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #011638;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    grid-column: span 2;
}



nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    margin-bottom: 10px;
}



nav a:hover {
    text-decoration: overline;
}

.active {
    color: yellow;
}

main {
    font-family: 'Helvetica Neue', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}