* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header span {
    font-size: 1.5em;
    font-weight: bold;
}

header {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 25px;
    background-color: #d79578;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

nav {
    margin-bottom: 5px;
    background-color: #7d5292;
    margin: 0 auto;
    max-width: 900px;
    font-family: sans-serif;
    border-radius: 8px;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

h1 {
    background-color: #bfc5c5;
    padding: 10px;
    font-size: 2rem;
    margin-bottom: 10px;
    grid-column: span 2;
    border-radius: 5px;
}

.card h2 {
    margin-bottom: 10px;
    color: #71b3dd;
    border-style: solid;
    padding: 10px;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #F5F5DC
}

footer {
    font-family: sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #7d5292;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;

}

.card {
    border: 1px solid #ccc;
    background-color: #011638;
    border-radius: 9px;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 50px;


}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    margin-bottom: 10px;
}



nav a:hover {
    text-decoration: overline;
    border-radius: 7%
}


.active {
    color: yellow;
}


.mainindex,
.mainjoin,
.maindiscover {
    font-family: 'Helvetica Neue', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #fff;
}


.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #669BBC;
    color: #333;
    font-weight: 700;
}

.open a {
    display: block;
}

.active::before {
    content: "📍";

}

.hover {
    width: 100%;
    background: #000;
    padding: 5px;
    transform: scaleX(-1);
}

.sidebar {
    border: 1px solid #ccc;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #011638;
}

picture {
    background-color: #fff;
}

.hover {
    width: 100%;
    height: auto;
    margin: .5rem;
}

.hover:hover {
    box-shadow: 0 0 50px #333;
}

h3 {
    margin-bottom: 10px;
    color: #669BBC
}

.sidebar li {
    list-style-type: none;
    padding: 15px;
    margin: 1rem;
    color: #F5F5DC;
    background-color: black;
    border: solid #71b3dd;
}

#calendar {
    background-color: white;
    font-size: 0.5rem;
    color: #000;
}

.container-calendar {
    background: #ffffff;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.button-container-calendar button {
    cursor: pointer;
    background: green;
    color: #fff;
    border: 1px solid green;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td,
.table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    background-color: #f2f2f2;
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* Day-specific styling */
.date-picker:nth-child(1) {
    color: rgb(139, 8, 8);
    /* Sunday */
}

.date-picker:nth-child(6) {
    color: green;
    /* Friday */
}


.date-picker:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

/*-------------- FORM STYLING-------------*/
.afc fieldset {

    margin: 2rem 0;
    border: 1px solid #d7c9d4;
    border-radius: 20px;
    padding: .7rem 2%;
}

.afc legend {
    color: #011638;
    padding: 0 .5rem;
}

.afc label {
    display: block;
    padding-top: 1rem;
    color: #100520;
    font-size: .9rem;
    font-family: Tahoma, sans-serif;

}

.afc div {
    padding: 1rem;
    color: rgb(209, 243, 224);
    background-color: #100520;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 10px;

}

.afc input[type="text"],
.afc input[type="tel"],
.afc input[type="email"],
.afc input[type="url"],
.afc input[type="date"],
.afc select,
.afc input[type="number"] {
    background-color: #d5e9fd;
    color: #4e2641;
    border: solid 1px #5b0369;
    display: block;

    border-radius: 10px;
    padding: .75rem;

    width: 100%;
    max-width: 400px;
    appearance: none;
}

.afc input[type="radio"] {
    margin-right: 6px;
}

.afc input[type="submit"] {
    font-family: 'Ubuntu', sans-serif;
    border: solid 1px transparent;
    background: #1c89ff;
    color: #e2e0d7;
    height: 48px;
    border-radius: 18px;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    padding: .7rem;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all .1s ease-in-out;
    box-shadow: 1px 1px 4px #080913;
}

.afc input[type="submit"]:hover {
    background-color: #011638;
    border-color: #fff;
    transition: all .1s ease-in-out;
}

.afc input:required {
    border-left: solid 8px red;
}

.afc input:required:valid {
    border-left: solid 8px green;
}

.joinh2 {
    color: #71b3dd;
    border: solid #71b3dd;
    margin-bottom: 10px;
    text-align: center;
    padding: 1.5rem;
}

section h3 {

    padding-top: 0.9rem;
    padding-bottom: 0%;
    padding-left: 1.5rem;
    border-style: solid;
    padding: 10px;
    max-width: 400px;
    text-align: center;
}

.gold {
    background-color: #100520;
    color: gold;
    appearance: none;
}

.silver {
    color: silver;
    background-color: #100520;
    appearance: none;

}

.bronze {
    color: burlywood;
    background-color: #100520;
    appearance: none;
}

section li {
    padding-left: .5rem;
    display: block;
    padding: 10px;
}

.membership {
    height: 620px;
    border: 1px solid #ccc;
    background-color: #011638;
    border-radius: 9px;
}

.membership p {
    color: whitesmoke;
    font-weight: 200;
}

.benefits {
    border: solid rgb(93, 163, 237);
    border-radius: 6px;
}

textarea {
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color: #d5e9fd;
    color: #4e2641;
    border: solid 1px #5b0369;
    border-radius: 4px;
    appearance: none;
}

.thankyou {
    display: block;
    grid-column: span 2;

}

.companiesmain {

    margin: 0 auto;
    padding: 0.5rem;
    max-width: 830px;
    background-color: #fff;
    font-family: Tahoma, sans-serif;
}


.menus {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: rgb(93, 163, 237);
    text-align: center;
}

.menus button {
    padding: 1rem;
    font-weight: 700;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.4rem;
    width: auto;
    height: 400px;
}

section p {
    padding-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;

}

.grid p {
    max-width: 300px;
}

.grid ul {
    max-width: 200px;
    padding-bottom: 10px;
}

.grid section>* {
    margin: 0.1rem;
}

.grid h2 {
    font-family: Tahoma, sans-serif;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    margin: 0;
    padding: 0.25rem;
    height: 150px;
    width: 100%;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h2 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
    background-color: rgb(209, 243, 224);
}

section h2 {
    font-size: 1.5rem;
}

section p {
    font-weight: 600;
    font-size: smaller;
}

section ul {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
    max-width: 400px;
}

.companiesmain img {
    height: auto;
    max-width: 150px;
    padding: 0.5rem;
}

.banner {
    width: 100%;
    grid-column: span 2;

}

.dismissible {
    color: #222;
    font-size: 17px;
    line-height: 22px;
    position: relative;
    overflow: hidden;


}

.dismissible span {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    box-sizing: border-box;
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    position: relative;
    height: 80px;
    text-align: center;
}

.dismissible button {
    background: rgba(0, 0, 0, .4);
    border: 0;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 20px;
    margin-top: -12px;
    right: 10px;
    position: absolute;
    top: 20%;
    width: 24px;
}

.dismissible button:focus {
    outline: none;
}

.dismissible-info span {
    background-color: #64B5F6;
    border-color: #2196F3;
    color: #fff;
    padding-top: 25px;
    margin: 0.3rem;
}

.dismissible-info button {
    background-color: #2196F3;
    color: #E3F2FD;
}


.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
    grid-column: span 2;
}

.hero img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.card div {
    color: whitesmoke;
    margin: auto;
}


.calltoaction-one {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: whitesmoke;
}

.calltoaction-two {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-top: 40px;
    color: whitesmoke;
}

.calltoaction-three {
    margin-top: 1.5rem;
    font-weight: 150;
    padding: 0.8rem;
}

.calltoaction-four {
    margin-top: 30px;
    margin-bottom: 60px;
    background: #9932CC;
    border: none;
    border-radius: 8%;
    border-bottom: 6px solid #ab55d6;
    text-align: center;
}

.calltoaction-four:hover {
    margin-top: 30px;
    background: #4EBAAF;
    border-bottom: 6px solid #52CABF;
    border-radius: 20%;
    padding: 15px 15px 15px 15px;
}

.calltoaction-five {
    font-size: 20px;
    color: whitesmoke;
}

.card-spotlight {
    height: auto;
}

.card-spotlight h3 {
    width: 310px;
    border-color: #333;
    color: #011638;
}

.card-spotlight img {
    display: none;
}

.card-spotlight div {
    max-width: 350px;
    height: auto;

}

.spotlight-title {
    grid-column: span 2;
    background-color: goldenrod;
    padding: 1.5rem;
    border-radius: 8px;
}

.card-spotlight p {
    padding: 0.2rem;
    word-wrap: break-word;
}