@media screen and (min-width: 768px) {

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav li {
        margin-right: 20px;
        flex: 1 1 100%;
    }

    .mainindex,
    .mainjoin,
    .maindiscover {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .container-calendar {
        background: #ffffff;
        padding: 15px;
        max-width: 900px;
        margin: 0 auto;
        overflow: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
    }

    #calendar {
        background-color: #ccc;
        font-size: 1rem;
    }

    .card-spotlight {
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
    }


    .card-spotlight h3 {
        width: 350px;
    }

    .card-spotlight img {
        width: 150px;
        display: inline;
    }

    .card-spotlight div {
        width: 350px;
        height: 320px;

    }

    .mainindex h2 {
        grid-column: span 2;
    }

    .calltoaction-four {

        margin-bottom: 40px;
        padding: 15px 15px 15px 15px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .list section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .dismissible button {
        top: 50%;
    }

    .dismissible {
        font-size: 23px;


    }

    .hero img {
        width: 100%;
        object-fit: cover;
        height: auto;
    }

    .hero {
        grid-column: span 2;
        margin-bottom: 20px;
        height: auto;
    }

}